/* 언어설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* 로고설정 */
.logo {
}
.logo h1 {
  font-size: 30px;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo h1 a {
  display: block;
  padding: 5px;
  color: #83a4a8;
}

/* 박스2를 바형태로 디자인 */
.box2 {
  background-color: #7cbac1;
}

/* 네비게이션설정 */
.menu {
}
.menu ul {
  display: flex;
}
.menu ul li {
}
.menu ul li a {
  display: block;
  padding: 15px;
  font-size: 14px;
}
.menu ul li a:hover {
  background-color: #75dbe7;
}

/*  스토리설정 */
.story {
}
.story h1 {
  margin-bottom: 20px;
  font-size: 36px;
}
.story h2 {
    margin-top: 40px;
    border-left: solid 10px #7cbac1;
    font-weight: normal;
    padding-left: 10px;
}
.story p {
    margin-top: 20px;
  margin-bottom: 20px;
}
.story p img {
  width: 100%;
  height: auto;
}


/* 기사의 작성일 */
.storyinfo {margin-bottom: 20px;
            margin-top: -10px;}
.storyinfo time {}
.storyinfo i {color: #aaa;
            margin-right: 5px;}
/* 기사의 카테고리 */
.story-cat {margin-bottom: 25px;}
.story-cat ul {display: flex;}
.story-cat ul li {}
.story-cat ul li a {display: block;
                    padding: 3px 5px;
                    border-radius: 2px;
                    background-color: #75dbe7;
                    color: #fff;
                    margin-right: 5px;
                    font-size: 12px;
                }
.story-cat ul li a:hover {background-color:#94ecf6 ;}

/* 사이드메뉴설정 */
.sidemenu {
  margin-bottom: 30px;
}
.sidemenu h1 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px #ddd dotted;
}
.sidemenu ul {
}
.sidemenu ul li {
}
.sidemenu ul li a {
  display: block;
  padding: 5px;
  font-size: 14px;
}

.sidemenu i {color: #888;
          margin-right: 5px;
        }

/* 추천기사설정 */
.recommend {
  margin-bottom: 30px;
}
.recommend h1 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px #ddd dotted;
}
.recommend ul {
}
.recommend ul li {
}
.recommend ul li a {
  display: block;
  padding:0;
  font-size: 14px;
  position: relative;
  margin-bottom:10px ;
}
.recommend ul li a img {width: 100%;
                        vertical-align: bottom;}
.recommend ul li a .txt{position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
            left: 0;
          bottom: 0;
        color: #fff;
        width: 100%;
        padding: 5px 10px;
      box-sizing: border-box;}

/* 인기기사설정 */
.popular {
}
.popular h1 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px #ddd dotted;
}
.popular ul {
}
.popular ul li {
}
.popular ul li a {
  display: flex;
  padding: 5px;
  font-size: 14px;
  color: #2288bb;
  border-bottom: 1px #ddd dotted;
}
.popular ul li a img{width: 60px;
                    height: 60px;
                    }
.popular ul li a .txt{width: auto;
                  padding-left: 15px;}
.popular ul li a .txt span {display: block;
font-size: 12px;
color: #666;}




/* 박스5 위에 테두리 삽입 */
.box5 {
  border-top: solid 1px #ddd;
}

/* 카피라이트설정 */
.copyright {
}
.copyright p {
  font-size: 14px;
  color: #666;
}




/* sns 설정 */
.sns {}
.sns ul{display: flex;}
.sns ul li{width: 33.3333%;}
.sns ul li a{display: block;
        text-align: center;
        padding: 10px 5px;
      font-size: 14px;
    color: #fff;}
.sns ul li:nth-child(1) a {background-color: #1da1f2;}
.sns ul li:nth-child(2) a {background-color: #1877f2;}
.sns ul li:nth-child(3) a {background:linear-gradient(45deg,#e1306c,#fcaf45)}
.sns i {margin-right:10px ;}
.sns span {}


/* 관련기사 설정 */
.relation {margin-top: 40px;
          background-color: #f0f0d4;
          padding: 20px;}
.relation h1{
  margin-bottom: 5px;
  color: #727224;
  font-size: 20px;
  font-weight: normal;
}
.relation ul{display: flex;
          flex-wrap: wrap;}
.relation ul li {width: 25%;
        }
.relation ul li a {display: block;
padding: 5px;
font-size: 14px;}
.relation img {width: 100%;}

.relation ul li a:hover {text-decoration: underline;}





/* 박스 위아래 간격설정 */
.box1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.box3 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.box4 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.box5 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* 박스 왼쪽 오른쪾 여백 확보 */
.box1 , .box2 ,.boxA ,.box5 {padding-left: 10px;
                            padding-right: 10px;}





/* 미디어쿼리구간------------------------------------------------- */

/* 599px 이하일때 설정 */
@media(max-width:599px){

    .menu ul li a {
        padding: 10px 3px;
        font-size: 11px;
      }

    .story h1 {
        font-size: 26px;
      }

     .logo h1 {
        font-size: 20px;
      }

      .box1 {
        padding-top: 4px;
        padding-bottom: 4px;
      }
      .box3 {
        padding-top: 25px;
        
      }

      /* .sns span {display: none;} 
      웹접근성 낭독기로 읽을수 없어서 사용하면안됨*/
      /* .sns span {opacity: 0;} 
      공간을 줄일수 없어서 사용하면 안됨*/
      .sns span {text-indent: -9999px;
              display: inline-block;}
      /* text-indent 는 inline 방식이라 단독사용은
      안되므로 display를 변경해 주는데 
      block 은 줄바꿈이 생겨서 inline-block 방식으로 설정 */


      .relation ul li {width: 50%;
      }


}
/* 600px 이상 767px 이하 일때 설정 */
@media(min-width:600px) and (max-width:767px){

    /* 박스4-1과 박스4-2 의 가로정렬 */
    .box4 {display: flex;}
    .box4-1 {width: 50%;
        padding-right: 20px;
        box-sizing: border-box;}
    .box4-2 {width: 50%;
        padding-left: 20px;
        box-sizing: border-box;}


}


/* 768px 이상일때 설정 */
@media (min-width: 768px) {
  /* 박스3 과 박스4 의 가로정렬 */
  .boxA {
    display: flex;
  }
  .box3 {
    width: 70%;
  }
  .box4 {
    width: 30%;
  }

/* 박스3과 박스4의 왼쪽오른쪽 간격설정 */
.boxA{flex-wrap: wrap;}
.box3 {padding-right: 50px;
    /* inside방식으로 패딩 또는 보더를 넣는다. */
    box-sizing: border-box;
    
}


}

/* 1200px 이상일때 설정 */
@media (min-width:1200px){

  .box1 , .boxA ,.menu , .copyright{width: 1180px;
        margin: 0 auto;}


}
